In [2]:
import pandas as pd

In [3]:
# from google.colab import drive
# drive.mount('/content/drive')

In [4]:
df = pd.read_csv("/content/drive/MyDrive/Tyumen_University/data/students.csv")
df.head()

,Age,Growth,Shoe size,Course number,Year of birth,Friend number,Russian rating,Maths rating,Physics rating,Computer science rating,...,Social network duration min,Chocolate,City population,Strange people,Your insitute,Brother-sister,Plane seat,MIddle and index finger,Middle and ring finger,Middle and little finger
0,20,170,40,2,2002,100,85,86,0,84,...,45,Сникерс,800000.0,Экономический,Математический и ИТ,нет ни брата ни сестры,У окна (пардон: у иллюминатора),20,10.0,40.0
1,22,191,43,7,2000,307,69,74,64,72,...,180,КитКат,800000.0,Математический и ИТ,Математический и ИТ,есть и брат и сестра,В середине,5,5.0,20.0
2,21,172,41,4,2000,186,78,62,0,0,...,90,КитКат,770000.0,Педагогический,Другое,есть брат,У окна (пардон: у иллюминатора),13,10.0,26.0
3,19,168,38,2,2003,604,72,0,0,0,...,200,Баунти,900000.0,СоцГум,Юридический,есть сестра,У окна (пардон: у иллюминатора),12,13.5,35.0
4,23,159,36,1,1998,144,0,0,0,0,...,400,Баунти,860000.0,Педагогический,Педагогический,есть сестра,У окна (пардон: у иллюминатора),10,11.0,22.0

In [5]:
df_cut = df[['Age','Growth','Weight']]
df_cut.head()

   Age  Growth  Weight
0   20     170    64.0
1   22     191    73.0
2   21     172    60.0
3   19     168    59.0
4   23     159    57.0

In [6]:
df_cut.sort_values(by='Age', ascending=True)

     Age  Growth  Weight
126   17     168    71.0
115   17     175    72.0
185   18     164    54.0
133   18     177    80.0
127   18     165    46.0
..   ...     ...     ...
82    27     168    58.0
173   29     176    70.0
99    31     165    53.0
63    35     180    78.0
81    55     160     3.0

[186 rows x 3 columns]

In [7]:
df_cut.sort_values(['Age','Growth'], ascending=[False,False])

     Age  Growth  Weight
81    55     160     3.0
63    35     180    78.0
99    31     165    53.0
173   29     176    70.0
82    27     168    58.0
..   ...     ...     ...
47    18     159     NaN
94    18     158    53.0
118   18     157    59.0
115   17     175    72.0
126   17     168    71.0

[186 rows x 3 columns]

In [8]:
df_sorted = df_cut.sort_values('Growth', ascending=False)
df_sorted

     Age  Growth  Weight
103   19     197   100.0
27    19     193    61.0
1     22     191    73.0
87    23     188    83.0
33    22     188    95.0
..   ...     ...     ...
118   18     157    59.0
53    19     156    48.0
34    19     155     NaN
177   23     155    50.0
152   19     153    46.0

[186 rows x 3 columns]

In [9]:
df_sorted.iloc[0,]

Age        19.0
Growth    197.0
Weight    100.0
Name: 103, dtype: float64

Добавление столбца

In [10]:
df_cut["Mass index"]=df['Weight']/(df['Growth']/100)**2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
df_cut.head()

   Age  Growth  Weight  Mass index
0   20     170    64.0   22.145329
1   22     191    73.0   20.010416
2   21     172    60.0   20.281233
3   19     168    59.0   20.904195
4   23     159    57.0   22.546576

In [12]:
df_cut.sort_values('Mass index', ascending=False)

     Age  Growth  Weight  Mass index
149   22     173   115.0   38.424271
7     19     180   120.0   37.037037
28    20     163    90.0   33.874064
124   21     163    88.0   33.121307
69    20     181   105.0   32.050304
..   ...     ...     ...         ...
158   21     168     NaN         NaN
161   24     163     NaN         NaN
167   21     168     NaN         NaN
170   22     168     NaN         NaN
178   21     170     NaN         NaN

[186 rows x 4 columns]

Коофициэнт коррелляции

In [13]:
df_cut.corr()

                 Age    Growth    Weight  Mass index
Age         1.000000 -0.101982 -0.185722   -0.200305
Growth     -0.101982  1.000000  0.544528    0.146201
Weight     -0.185722  0.544528  1.000000    0.904678
Mass index -0.200305  0.146201  0.904678    1.000000

In [15]:
df.groupby("Sex")['Growth', 'Weight'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

             Growth     Weight
Sex
женский  165.725000  59.105263
мужской  179.636364  71.580645

In [17]:
df.groupby("Sex")['Russian rating', 'Maths rating'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

         Russian rating  Maths rating
Sex
женский       83.633333     55.516667
мужской       78.000000     63.015152

In [16]:
df.columns

Index(['Age', 'Growth', 'Shoe size', 'Course number', 'Year of birth',
       'Friend number', 'Russian rating', 'Maths rating', 'Physics rating',
       'Computer science rating', 'Chemistry rating', 'Literature rating',
       'History rating', 'Geography rating', 'Biology rating',
       'Foreign language rating', 'Social science rating',
       'Distance to home km', 'Minutes to first class', 'Children number',
       'Removed teeth', 'Weight', 'Glasses', 'Sex',
       'Problems in last semester', 'Coin', 'Rock paper scissors', 'Animal',
       'Month of birthday', 'Your rating in university', 'Fastfood',
       'Height of 5000 mm', 'Width of 5000 mm', 'Putin age', 'Army', 'Hostel',
       'Hair length', 'Floor number', 'Social network duration min',
       'Chocolate', 'City population', 'Strange people', 'Your insitute',
       'Brother-sister', 'Plane seat', 'MIddle and index finger',
       'Middle and ring finger', 'Middle and little finger'],
      dtype='object')

In [18]:
df.groupby(["Sex",'Chocolate'])['Russian rating', 'Maths rating'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                           Russian rating  Maths rating
Sex     Chocolate
женский M&Ms                                    79.400000     51.600000
        Баунти                                  81.181818     56.318182
        КитКат                                  85.782609     61.782609
        Марс                                    91.166667     36.666667
        Милки Вей                               79.583333     45.250000
        Натс                                    84.636364     53.818182
        Скиттлс (хотя это и не шоколадка)       86.000000     67.000000
        Сникерс                                 80.375000     61.562500
        Твикс                                   86.478261     55.217391
мужской M&Ms                                    83.666667     76.666667
        Баунти                                  78.375000     68.000000
        КитКат                                  74.416667     51.083333
        Марс                                    85.600000     55.400000
        Милки Вей                               72.800000     61.800000
        Натс                                    70.500000     72.000000
        Скиттлс (хотя это и не шоколадка)       84.000000     77.000000
        Сникерс                                 77.666667     59.055556
        Твикс                                   79.818182     75.000000

In [19]:
df['Age'].describe()

count    186.000000
mean      20.688172
std        3.468713
min       17.000000
25%       19.000000
50%       20.000000
75%       21.000000
max       55.000000
Name: Age, dtype: float64