Востоновление данных

In [2]:
import seaborn as sns
import pandas as pd

In [3]:
df =pd.read_csv('/content/drive/MyDrive/Tyumen_University/data/students.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          186 non-null    int64
 1   Growth                       186 non-null    int64
 2   Shoe size                    186 non-null    int64
 3   Course number                186 non-null    int64
 4   Year of birth                186 non-null    int64
 5   Friend number                186 non-null    int64
 6   Russian rating               186 non-null    int64
 7   Maths rating                 186 non-null    int64
 8   Physics rating               186 non-null    int64
 9   Computer science rating      186 non-null    int64
 10  Chemistry rating             186 non-null    int64
 11  Literature rating            186 non-null    int64
 12  History rating               186 non-null    int64
 13  Geography rating             186 non-null    int64
 14  Biology rating               186 non-null    int64
 15  Foreign language rating      186 non-null    int64
 16  Social science rating        186 non-null    int64
 17  Distance to home km          186 non-null    int64
 18  Minutes to first class       186 non-null    int64
 19  Children number              150 non-null    float64
 20  Removed teeth                148 non-null    float64
 21  Weight                       157 non-null    float64
 22  Glasses                      184 non-null    object
 23  Sex                          186 non-null    object
 24  Problems in last semester    186 non-null    object
 25  Coin                         186 non-null    object
 26  Rock paper scissors          186 non-null    object
 27  Animal                       186 non-null    object
 28  Month of birthday            186 non-null    int64
 29  Your rating in university    186 non-null    object
 30  Fastfood                     186 non-null    object
 31  Height of 5000 mm            186 non-null    int64
 32  Width of 5000 mm             186 non-null    int64
 33  Putin age                    186 non-null    int64
 34  Army                         186 non-null    object
 35  Hostel                       186 non-null    object
 36  Hair length                  186 non-null    float64
 37  Floor number                 186 non-null    int64
 38  Social network duration min  186 non-null    int64
 39  Chocolate                    186 non-null    object
 40  City population              186 non-null    float64
 41  Strange people               186 non-null    object
 42  Your insitute                186 non-null    object
 43  Brother-sister               186 non-null    object
 44  Plane seat                   186 non-null    object
 45  MIddle and index finger      186 non-null    int64
 46  Middle and ring finger       186 non-null    float64
 47  Middle and little finger     186 non-null    float64
dtypes: float64(7), int64(26), object(15)
memory usage: 69.9+ KB

Удалять пропуски ВСЕ

In [5]:
df_1 = df.dropna()
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 0 to 185
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          118 non-null    int64
 1   Growth                       118 non-null    int64
 2   Shoe size                    118 non-null    int64
 3   Course number                118 non-null    int64
 4   Year of birth                118 non-null    int64
 5   Friend number                118 non-null    int64
 6   Russian rating               118 non-null    int64
 7   Maths rating                 118 non-null    int64
 8   Physics rating               118 non-null    int64
 9   Computer science rating      118 non-null    int64
 10  Chemistry rating             118 non-null    int64
 11  Literature rating            118 non-null    int64
 12  History rating               118 non-null    int64
 13  Geography rating             118 non-null    int64
 14  Biology rating               118 non-null    int64
 15  Foreign language rating      118 non-null    int64
 16  Social science rating        118 non-null    int64
 17  Distance to home km          118 non-null    int64
 18  Minutes to first class       118 non-null    int64
 19  Children number              118 non-null    float64
 20  Removed teeth                118 non-null    float64
 21  Weight                       118 non-null    float64
 22  Glasses                      118 non-null    object
 23  Sex                          118 non-null    object
 24  Problems in last semester    118 non-null    object
 25  Coin                         118 non-null    object
 26  Rock paper scissors          118 non-null    object
 27  Animal                       118 non-null    object
 28  Month of birthday            118 non-null    int64
 29  Your rating in university    118 non-null    object
 30  Fastfood                     118 non-null    object
 31  Height of 5000 mm            118 non-null    int64
 32  Width of 5000 mm             118 non-null    int64
 33  Putin age                    118 non-null    int64
 34  Army                         118 non-null    object
 35  Hostel                       118 non-null    object
 36  Hair length                  118 non-null    float64
 37  Floor number                 118 non-null    int64
 38  Social network duration min  118 non-null    int64
 39  Chocolate                    118 non-null    object
 40  City population              118 non-null    float64
 41  Strange people               118 non-null    object
 42  Your insitute                118 non-null    object
 43  Brother-sister               118 non-null    object
 44  Plane seat                   118 non-null    object
 45  MIddle and index finger      118 non-null    int64
 46  Middle and ring finger       118 non-null    float64
 47  Middle and little finger     118 non-null    float64
dtypes: float64(7), int64(26), object(15)
memory usage: 45.2+ KB

Заменять пропуски

In [6]:
df.isnull().sum()

Age                             0
Growth                          0
Shoe size                       0
Course number                   0
Year of birth                   0
Friend number                   0
Russian rating                  0
Maths rating                    0
Physics rating                  0
Computer science rating         0
Chemistry rating                0
Literature rating               0
History rating                  0
Geography rating                0
Biology rating                  0
Foreign language rating         0
Social science rating           0
Distance to home km             0
Minutes to first class          0
Children number                36
Removed teeth                  38
Weight                         29
Glasses                         2
Sex                             0
Problems in last semester       0
Coin                            0
Rock paper scissors             0
Animal                          0
Month of birthday               0
Your rating in university       0
Fastfood                        0
Height of 5000 mm               0
Width of 5000 mm                0
Putin age                       0
Army                            0
Hostel                          0
Hair length                     0
Floor number                    0
Social network duration min     0
Chocolate                       0
City population                 0
Strange people                  0
Your insitute                   0
Brother-sister                  0
Plane seat                      0
MIddle and index finger         0
Middle and ring finger          0
Middle and little finger        0
dtype: int64

In [7]:
df_2 = df.fillna(0)
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          186 non-null    int64
 1   Growth                       186 non-null    int64
 2   Shoe size                    186 non-null    int64
 3   Course number                186 non-null    int64
 4   Year of birth                186 non-null    int64
 5   Friend number                186 non-null    int64
 6   Russian rating               186 non-null    int64
 7   Maths rating                 186 non-null    int64
 8   Physics rating               186 non-null    int64
 9   Computer science rating      186 non-null    int64
 10  Chemistry rating             186 non-null    int64
 11  Literature rating            186 non-null    int64
 12  History rating               186 non-null    int64
 13  Geography rating             186 non-null    int64
 14  Biology rating               186 non-null    int64
 15  Foreign language rating      186 non-null    int64
 16  Social science rating        186 non-null    int64
 17  Distance to home km          186 non-null    int64
 18  Minutes to first class       186 non-null    int64
 19  Children number              186 non-null    float64
 20  Removed teeth                186 non-null    float64
 21  Weight                       186 non-null    float64
 22  Glasses                      186 non-null    object
 23  Sex                          186 non-null    object
 24  Problems in last semester    186 non-null    object
 25  Coin                         186 non-null    object
 26  Rock paper scissors          186 non-null    object
 27  Animal                       186 non-null    object
 28  Month of birthday            186 non-null    int64
 29  Your rating in university    186 non-null    object
 30  Fastfood                     186 non-null    object
 31  Height of 5000 mm            186 non-null    int64
 32  Width of 5000 mm             186 non-null    int64
 33  Putin age                    186 non-null    int64
 34  Army                         186 non-null    object
 35  Hostel                       186 non-null    object
 36  Hair length                  186 non-null    float64
 37  Floor number                 186 non-null    int64
 38  Social network duration min  186 non-null    int64
 39  Chocolate                    186 non-null    object
 40  City population              186 non-null    float64
 41  Strange people               186 non-null    object
 42  Your insitute                186 non-null    object
 43  Brother-sister               186 non-null    object
 44  Plane seat                   186 non-null    object
 45  MIddle and index finger      186 non-null    int64
 46  Middle and ring finger       186 non-null    float64
 47  Middle and little finger     186 non-null    float64
dtypes: float64(7), int64(26), object(15)
memory usage: 69.9+ KB

In [9]:
df_3 = df.fillna(df.mean())
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          186 non-null    int64
 1   Growth                       186 non-null    int64
 2   Shoe size                    186 non-null    int64
 3   Course number                186 non-null    int64
 4   Year of birth                186 non-null    int64
 5   Friend number                186 non-null    int64
 6   Russian rating               186 non-null    int64
 7   Maths rating                 186 non-null    int64
 8   Physics rating               186 non-null    int64
 9   Computer science rating      186 non-null    int64
 10  Chemistry rating             186 non-null    int64
 11  Literature rating            186 non-null    int64
 12  History rating               186 non-null    int64
 13  Geography rating             186 non-null    int64
 14  Biology rating               186 non-null    int64
 15  Foreign language rating      186 non-null    int64
 16  Social science rating        186 non-null    int64
 17  Distance to home km          186 non-null    int64
 18  Minutes to first class       186 non-null    int64
 19  Children number              186 non-null    float64
 20  Removed teeth                186 non-null    float64
 21  Weight                       186 non-null    float64
 22  Glasses                      184 non-null    object
 23  Sex                          186 non-null    object
 24  Problems in last semester    186 non-null    object
 25  Coin                         186 non-null    object
 26  Rock paper scissors          186 non-null    object
 27  Animal                       186 non-null    object
 28  Month of birthday            186 non-null    int64
 29  Your rating in university    186 non-null    object
 30  Fastfood                     186 non-null    object
 31  Height of 5000 mm            186 non-null    int64
 32  Width of 5000 mm             186 non-null    int64
 33  Putin age                    186 non-null    int64
 34  Army                         186 non-null    object
 35  Hostel                       186 non-null    object
 36  Hair length                  186 non-null    float64
 37  Floor number                 186 non-null    int64
 38  Social network duration min  186 non-null    int64
 39  Chocolate                    186 non-null    object
 40  City population              186 non-null    float64
 41  Strange people               186 non-null    object
 42  Your insitute                186 non-null    object
 43  Brother-sister               186 non-null    object
 44  Plane seat                   186 non-null    object
 45  MIddle and index finger      186 non-null    int64
 46  Middle and ring finger       186 non-null    float64
 47  Middle and little finger     186 non-null    float64
dtypes: float64(7), int64(26), object(15)
memory usage: 69.9+ KB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [ ]:
df

AttributeError: ignored